{% extends 'base.html' %}

{% block title %}
  {{news_item.title}}::{{block.super}}
{% endblock %}



{% block content %}
<!--              <div class="card mb-3" style="max-width: 540px;">-->
<!--                <div class="card-header">-->
<!--                     Category: <a href="{{ news_item.category.get_absolute_url }}">{{news_item.category}}</a>-->

<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    {% if item.photo %}-->
<!--                    <img src="{{ news_item.photo.url }}" alt="" width="350" height="350" class="float-left mr-3">-->
<!--                    {%else%}-->
<!--                    <img src="https://picsum.photos/id/237/200/300" alt="" width="350" height="350" class="float-left mr-3">-->
<!--                    {%endif%}-->

<!--                      <h5 class="card-title">{{news_item.title}}</h5>-->
<!--                      <p class="card-text">{{news_item.content}}</p>-->

<!--              </div>-->

<!--          <div class="card-footer text-muted">-->
<!--            {{news_item.create_at|timesince }}-->
<!--          </div>-->
<!--        </div>-->

<div class="card mb-3">
  <div class="row g-0">
      <div class="card-header">
          Category: <a href="{{ news_item.category.get_absolute_url }}">{{news_item.category}}</a>
      </div>
    <div class="col-md-4">
        {% if news_item.photo %}
      <img src="{{ news_item.photo.url }}" class="img-fluid rounded-start" alt="photo_as_category">
        {%else%}
      <img src="https://picsum.photos/id/237/200/300" class="img-fluid rounded-start" alt="photo_as_category">
        {%endif%}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{news_item.title}}</h5>
        <p class="card-text">{{news_item.content}}</p>
        <p class="card-text"><small class="text-muted">Переглядів: {{news_item.views }}</small></p>
      </div>
    </div>
  </div>
    <div class="card-footer text-muted">
            {{news_item.create_at|timesince }}
</div>
</div>

{% endblock %}
